.card{
    margin: 0;
    padding: 40px;
    border: 0.0625rem solid #E1DBDB;
    border-top: none;

    &__ind p{
        margin-top: 0%;
    }

    &__tags{
        display: flex;
        gap: 20px;
        padding-top: 30px;
        padding-bottom: 80px;
    }

    &__button button{
        margin: 0 ;
        height: 30px;
        background-color: black;
        border: none;
        color: white;

        &:hover {
            background-color: white; 
            color: black; 
            cursor: pointer;
        }
    
    }
}